#pattern {
    background-color: #4EA0FF;
    background-image: url(../img/pattern.png);
    background-size: 450px;
    padding: 70px 0 0 20px;
}

.logo{
    width: 200px;
}
main {
    padding: 10px;
}

.gray {
    color: gray;
}
.text-description {
    font-size: 12px;
}
.blue-text {
    color: #4EA0FF;
}
.margin {
    margin-bottom: 25px;
}

ul {
    margin-left: 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
    text-align: left;
}

thead {
    color: white;
    background-color: #4EA0FF;


}



.azzure {
    background-color: #B1E5F2;
}





