header {
    background-color: #4EA0FF;
    background-image: url(../img/pattern.png);
    background-size: contain;
}
/* tutti i tag img dietro header */
header img {
    height: 150px;
    width: 200px;
    display: block;
}
.booleaner-link {
    text-decoration: none;
    color: #4EA0FF;
}

.author-info {
    color: gray;
}

.author-info span {
    font-size: 12px;
}

h1 {
    margin: 20px 0;
    line-height: 160%;
}

p {
    margin: 15px 0;
}

.tim-info-photos {
    font-size: 8px;
    font-weight: bold;
}

li {
    margin: 10px 0 10px 16px;
}

table {
    border-collapse: collapse;
}

table thead tr {
    background-color: #4EA0FF;
    color: white;
}

.tr-blue {
    background-color:#B1E5F2;
}

table th {
    text-align: left;
}

table thead .colum-table-25 {
    width: 25%;

}

footer .img-box {
    width: 150px;
    height: 150px;
    margin: 10px 0;

    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}


#footer-img1 {
    background-image: url(../img/monitor.jpg);
}

#footer-img2 {
    background-image: url(../img/graph.jpg);
}

/* bonus */
.container-80 {
    width: 80%;
    margin: 0 auto;
}
